body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5%;
  margin: 0;
  background-color: rgb(219, 206, 206);
}

div.outerbox {
  background-color: rgb(222, 218, 225);
  padding: 10px;
  width: 80%;
  margin: .5em auto;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

div.innerbox {
  background-color: rgb(206, 33, 188, 0.878);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.lists {
  background-color: #ccc;
  border-radius: 15px;
  box-shadow: 1px 0px 6px 1px rgba(206, 33, 188, 0.878);
  height: 40%;
  width: 20%;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  

}
.listschild{
  

}

.listouter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 60%;
  width: 100%;
  gap: 20px;
  justify-content: center;
}

h1 {
  font-size: 34px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
  background-color: hsl(211, 100%, 50%);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #023367;
}

 .listbutton{
  background-color: rgb(206, 33, 188, 0.878);
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  


 }

